body {
    font-size: 18pt;
    height: 100vh;
    width: 100vw;
}

h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    font-size: 20pt;
    text-align: center;
    padding-bottom: 20px;
}

input {
    color: white;
    font-size: 22pt;
}

.calculator {
    margin: auto;
    width: 25%;
    height: 60%;
    display: grid;
    grid-template-areas: "display display display display"
    "display display display display"
    "clear clear clear operator"
    "number number number operator"
    "number number number operator"
    "number number number operator"
    "zero zero decimal operator";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    border: 2px solid rgb(94, 94, 94);
    border-radius: 5px;
}

.display {
    grid-area: display;
    background-color: rgb(54, 54, 54);
    color: white;
    border: 1px solid rgb(94, 94, 94);
    font-size: 20pt;
}

.clear {
    grid-area: clear;
    background-color: rgb(95, 94, 94);
    border: 1px solid rgb(94, 94, 94);
}

.operator-container {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-area: operator;
    background-color: rgb(100, 100, 219);
}

.operator {
    border: 1px solid rgb(94, 94, 94);
    background-color: rgb(100, 100, 219);
}

.number-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-area: number;
    background-color: grey;
}

.number {
    border: 1px solid rgb(94, 94, 94);
    background-color: grey;
}

.zero {
    grid-area: zero;
    border: 1px solid rgb(94, 94, 94);
    background-color: grey;
    display: grid;
    grid-template-rows: 1, 1fr;
}

.decimal {
    grid-area: decimal;
    border: 1px solid rgb(94, 94, 94);
    background-color: grey;
}

footer {
    font-size: 12pt;
    padding-top: 20px;
    text-align: center;
}